/*made the background gradient to mimic ocean colors
Also i'm leaving extra lines at the moment ot i can read my code easier*/

body { 
    background-color:turquoise;
color: rgb(17, 66, 109);
background-image: linear-gradient(turquoise, white, turquoise, blue)


}
/*Centered text and made bigger*/
h1{
text-align: center;
font-size: 70px;
text-shadow: navy;
text-shadow: 30px;
}

nav {
    background-color: blue;
    border: 15px solid rgb(247, 244, 244);
    text-align: center;
    
}

p {
    font-size: 30px;
}

.container {
    display: block;
    background-color: rgb(64, 203, 190);
    padding: 10px;
}

/*Changed boxes to buttons on nav bar, was easier and i liked the effect better*/
button
{
background-color: gray ;
color: white;
width: 275px;
height: 100px;
margin: 20px 40px;
box-shadow: 30px, 30px, 30px;
}

/*  */

main{
display: flex;
flex-direction: column;

}

/* Will add other images later and probaly center*/
div{
    display: flex-box;
    flex-direction: column;
    padding: 60px;
    background-color: whitesmoke;
    box-sizing: border-box 30px;
    border: 8px solid rgb(7, 7, 7);
    width: 25%;
    font-size: 30px;
    text-align: center;
    
}

#app-1{
    background-color: rgb(112, 172, 172);
    width: 50%;
    display: block;
}

#app-2{
background-color: rgb(95, 166, 207);

}

#app-3{
background-color: rgb(95, 166, 207);

}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

@media screen and (max-width: 992px) {
    
    button{
      width: 20%;
      margin: 20px 20px;
    }
    
  }
  
  /* Looked at this on my phone and really loved the effect and sizing of everything*/
  @media screen and (max-width: 768px) {
    button{
      width: 50%;

    }
    

  }

  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .main-header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }

/*Going ot tweak this more in the future*/
  footer{
    color: whitesmoke;
    text-align: center;
font-size: 40px;
text-shadow: rgb(246, 246, 248);
text-shadow: 30px;
  }