
/*made the background gradient */
body { 
color: rgb(17, 66, 109);  
 background-image: linear-gradient(rgb(65, 65, 239) ,rgb(37, 200, 225), rgb(45, 198, 228), rgb(65, 65, 214))
 

} 

h1{
text-align: center;
font-size:30px;
text-shadow: navy;
text-shadow: 30px;
}

nav {
    background-color: rgb(36, 182, 231);
    border: 15px solid rgb(247, 244, 244);
    text-align: center;
    
} 

p {
    font-size: 27px;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(130, 226, 217);
    padding: 10px,10px;
    
}

.choice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 66, 143);
  
}

/*Changed boxes to buttons on nav bar, was easier and i liked the effect better*/
button
{
background-color: rgb(235, 134, 235) ;
color: rgb(10, 9, 9);
font-size: 30px;
width: 30%;
height: 100px;
margin: 20px 20px;
border-radius: 25px;
box-shadow: 40px;
}

#highscore-button {
  background-color: #3e8e41
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */



main{
display: flex;
flex-direction: column;

}


div{
    display: flex-box;
    flex-direction: column;
    padding: 20px;
    background-color: whitesmoke;
    box-sizing: border-box 10px;
    border: 8px solid rgb(7, 7, 7);
    width: 60%;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    
    button{
      width: 20%;
      margin: 20px 20px;
    }
    
  }
  
  /* Looked at this on my phone and really loved the effect and sizing of everything*/
  @media screen and (max-width: 768px) {
    
    button{
      width: 50%;

    }
  }

  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .main-header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }


  footer{
    color: whitesmoke;
    text-align: center;
font-size: 40px;
text-shadow: rgb(246, 246, 248);
text-shadow: 30px;
  }